<%- include("partials/header.ejs") %>

<section id="hero">

    <div class="container pic_class p-sm-2 mb-4 mt-2">
      <img src="/img/coffee_mug_focus.jpg" alt="A picture of a coffee mug">
      </div>
  
      <div class="row justify-content-sm-center">
  <div class="info p-sm-2 mb-4 justify-content-center col-lg-8">
      <h1 class="display-1 text-center fst-italic">Let Blog</h1>
      <p class="my-3 mx-3 text-center">
        Welcome to Let Blog, a unique platform where you can freely express your thoughts without any strings attached. At Let Blog, we believe in providing a space where your creativity and ideas can flow without limitations. When we say "freely," we truly mean it—our platform does not store your posts in any database, ensuring that what you write here remains ephemeral. This means that your words are yours alone, shared in the moment, and never saved. Whether you want to jot down a quick thought or explore a deeper idea, Let Blog is here to let your voice be heard, with complete freedom and privacy.</p>
      <p class="my-3">Sip your coffee and enjoy blogging!</p>
      <!-- <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p> -->
  
  </div>
</div>
  </section>
  

<%- include("partials/footer.ejs") %>